/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

th a:link, th a:visited, th a:hover, th a:active {
    color: #ffffff;
}

.form {
    color: #ffffff;
}


.list-group-item {
    background-color: #f5f5f5;
}